<br>
<div class="card border-0 text-black">
    
    <img src="/assets/product_list_background.jpg" alt="" class="img-fluid opacity-25">
    <div class="card-img-overlay text-center my-3 d-flex justify-content-center align-items-center">
        <div>
            <p id="product_list_text" class="card-title fs-1 fw-bolder">Change Password</p>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-sm-2">
        <app-profilenav></app-profilenav>
    </div>


    <div class="col-sm-10 my-5">

        <div class="row change-pass">

            <div class="col-sm-10 my-5">

                <form [formGroup]="changePass" (ngSubmit)="Change_Pass()">

                    <div class="form-group mb-3">
                        <label for="firstName" class="mb-2 text-capitalize">current password</label>
                        <input class="form-control" formControlName="oldPassword" type="password" name="currentPass" placeholder="Enter Current Password">
                    </div>

                    <div class="form-group mb-3" *ngIf="get_password.oldPassword.touched && get_password.oldPassword.invalid">
                        <div class="text-danger" *ngIf="get_password.oldPassword.errors?.['required']">Please Enter Current Password</div>
                        <div class="text-danger" *ngIf="get_password.oldPassword.errors?.['minlength']">Password is too short</div>
                    </div>

                    <div class="form-group mb-3">
                        <label for="firstName" class="mb-2 text-capitalize">new password</label>
                        <input class="form-control" formControlName="newPassword" type="password" name="newPass" placeholder="Enter New Password">
                    </div>

                    <div class="form-group mb-3" *ngIf="get_password.newPassword.touched && get_password.newPassword.invalid">
                        <div class="text-danger" *ngIf="get_password.newPassword.errors?.['required']">Please Enter Your New Password </div>
                        <div class="text-danger" *ngIf="get_password.newPassword.errors?.['minlength']"> New Password is too short </div>
                    </div>
                
                    <div class="form-group mb-3">
                        <label for="firstName" class="mb-2 text-capitalize">confirm new password</label>
                        <input class="form-control" formControlName="confirmNewPass" type="password" name="confirmNewPass" placeholder="Re-enter New Password">
                    </div>

                    <div class="form-group mb-3" *ngIf="get_password.confirmNewPass.touched && get_password.confirmNewPass.invalid">
                        <div class="text-danger" *ngIf="get_password.confirmNewPass.errors?.['required']">Please Re-Enter Your New Password </div>
                        <div class="text-danger" *ngIf="get_password.confirmNewPass.errors?.['matchPassword']">Confirm Password didn't match </div>
                    </div>

                    <div class="col-sm-2 my-5">
                        <div class="form-group mt-4">
                            <button type="submit" [disabled]="!changePass.valid" class="form-control btn btn-success" >Save</button>
                        </div>
                    </div>                    

                </form>

            </div>
            
        </div>     
        
    </div>

</div>