<footer class="page-footer ">

    <section class="bg-dark p-1">
      
      <div class="container text-center text-md-start mt-5 justify-content-lg-between">
  
        <div class="row mx-3 my-3">
  
          <div class="col d-flex align-items-center justify-content-center ">
            <img src="assets/Grocery logo 2.jpg" alt="" height="30" width="30">
            <h4 class="fw-bold mt-2 text-white">Grocery App</h4>
          </div>
  
          <div class="col d-flex align-items-center  ">
            <p class="mb-0 text-white"><i class="fas fa-home me-3"></i>Cybercom, Ahmedabad</p>
          </div>
  
          <div class="col d-flex align-items-center ">
            <p class="mb-0 text-white"><i class="fas fa-envelope mailto:me-3"></i>priyanshu@gmail.com</p>
          </div>
  
          <div class="col d-flex align-items-center ">
            <p class="mb-0 text-white"><i class="fas fa-phone me-3"></i>+91 9429582910</p>
          </div>
  
        </div>
  
      </div>
    </section>


    <section class="p-3 pt-0 bg-dark">
      <div class="row d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-7 col-lg-7 text-center text-md-start">
          <!-- Copyright -->
          <div class="p-3 text-white">
            © 2023 Copyright:
            <a class="text-white">All rights Reserved</a>
          </div>
          <!-- Copyright -->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0  text-md-end">
          <!-- Facebook -->
          <a
             class="btn btn-outline-light btn-floating mx-5"
             class="text-white"
             role="button"
             ><i class="fab fa-facebook-f"></i
            ></a>

          <!-- Twitter -->
          <a
             class="btn btn-outline-light btn-floating mx-5"
             class="text-white"
             role="button"
             ><i class="fab fa-twitter"></i
            ></a>

          <!-- Google -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             class="text-white"
             role="button"
             ><i class="fab fa-google"></i
            ></a>

          <!-- Instagram -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             class="text-white"
             role="button"
             ><i class="fab fa-instagram"></i
            ></a>
        </div>
        <!-- Grid column -->
      </div>
    </section>
    <!-- Section: Copyright -->


  </footer> 