<br>
<div class="card border-0 text-black">
    <img src="assets/product_list_background.jpg" alt="" class="img-fluid opacity-25"/>
    <div class="card-img-overlay text-center my-3 d-flex justify-content-center align-items-center">
      <div>
        <p id="product_list_text" class="card-title fs-1 fw-bolder">Orders</p>
      </div>
    </div>
</div>

<div class="row">

  <div class="col-sm-2">
    <app-profilenav></app-profilenav>
  </div>

  <div class="col-sm-10 my-5">

    <div class="container address my-5">

      <div class="container">
          <h2>Orders</h2>
          <table class="table table-striped">

            <thead>

              <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Total Price</th>
                <th>Items</th>
              </tr>

            </thead>

            <tbody>

              <tr *ngFor="let order of All_orders_Arr">
                <td>{{ order.id }}</td>
                <td>{{ order.order_date | date }}</td>
                <td>{{ order.total_amount | currency:'USD' }}</td>
                <td>{{Items_Count}}</td>
                <td>{{ order.totalPrice | currency:"INR" }}</td>
              </tr>

            </tbody>

          </table>
          
      </div>

    </div>

  </div>

</div>

  