<br>
<div class="card border-0 text-black">
    <img src="/assets/product_list_background.jpg" alt="" class="img-fluid opacity-25">
    <div class="card-img-overlay text-center my-3 d-flex justify-content-center align-items-center">
        <div>
            <p id="product_list_text" class="card-title fs-1 fw-bolder">Manage Address</p>
        </div>
    </div>
</div> 


<div class="d-flex justify-content-start">
   
  <app-profilenav></app-profilenav>
     
  <div class="mx-5 d-flex justify-content-center">    
        
    <div class="col-sm-10 my-5">
        
      <div class="container address my-5">
        
        <div class="d-flex">

          <div class="card ms-3" *ngFor="let item of user_addresses">
            <div class="card-body">
              <h5 class="card-title"><b>{{item.tag}}</b></h5>
              <p class="card-text"><b>Address Line 1 </b> :{{item.address_line_1}}</p>
              <p class="card-text"><b>Address Line 2 :</b>{{item.address_line_2}}</p>
              <p class="card-text"><b>Area :</b>{{item.area}}</p>
              <p class="card-text"><b>City :</b>{{item.city}}</p>
              <p class="card-text"><b>State :</b>{{item.state}}</p>
              <p class="card-text"><b>Country :</b>{{item.country}}</p>
              <p class="card-text"><b>Postal Code :</b>{{item.postal_code}}</p>
              <ul class=" d-flex justify-content-between align-items-center my-3" style="list-style-type: none;">
                <button type="button" class="btn btn-outline-secondary">Deliver Here</button>
                <li class="mx-2"><a href=""><i class="fa-solid fa-trash"></i></a></li>
                <li class="mx-2"><a href=""><i class="fa-regular fa-pen-to-square"></i></a></li>
              </ul>
            </div>
          </div>

          <!-- <div class="card mx-5">
            <div class="card-body">
              <h5 class="card-title">Office</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <ul class=" d-flex justify-content-between align-items-center my-3" style="list-style-type: none;">
                <button type="button" class="btn btn-outline-secondary">Deliver Here</button>
                <li class="mx-2"><a href=""><i class="fa-solid fa-trash"></i></a></li>
                <li class="mx-2"><a href=""><i class="fa-regular fa-pen-to-square"></i></a></li>
              </ul>
            </div>
          </div>
        
          <div class="card me-3">
            <div class="card-body">
              <h5 class="card-title">Home</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <ul class=" d-flex justify-content-between align-items-center my-3" style="list-style-type: none;">
                <button type="button" class="btn btn-outline-secondary">Deliver Here</button>
                <li class="mx-2"><a href=""><i class="fa-solid fa-trash"></i></a></li>
                <li class="mx-2"><a href=""><i class="fa-regular fa-pen-to-square"></i></a></li>
              </ul>
            </div>
          </div> -->
        
        </div>

      </div>

    </div>

  </div>

</div>
