<div class="">
   
    
        <img src="https://img.icons8.com/nolan/32/filled-filter.png"/>
        <select name="filter" id=""  (change)="getCategory()" [(ngModel)]="selectedValue">
            <option value="All">All</option>
            <option value="1">Category-1</option>
            <option value="2">Category-2</option>
            <option value="3">Category-3</option>
            <option value="4">Category-4</option>
            <option value="5">Category-5</option>
            <option value="6">Category-6</option>
        </select>
    
    
</div>
  