<!-- 
<div class="login-page">

  <div class="form">

    <div class="login">

      <div class="login-header">
        <h3>LOGIN</h3>
      </div>

    </div>

    <form [formGroup]="loginForm" class="login-form" (ngSubmit)="submit()">

      <input type="text" placeholder="Username" formControlName="fname">
      <span *ngIf="fname && fname.invalid && fname.touched" class="span">Please enter first name</span>

      <input type="text" placeholder="Password" formControlName="password">
      <span *ngIf="password && password.invalid && password.touched" class="span">Please enter password</span>

      <a routerLink="/">
      <button [disabled]="loginForm.invalid">Log in</button>
      </a>
      <br><br>            

      <a routerLink="/front/user/registration" class="msg">Create an account</a>

    </form>

  </div>
</div>


  -->

  

<!-- sing up for user -->
<!-- <div class="user_auth container" *ngIf="!loginForm">
  <form [formGroup]="userSingUp" (ngSubmit)="singUP(userSingUp.value)">
      <h1 class="text-capitalise mt-5 mb-3 head">Sign Up For Users</h1>
  
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
        <label for="name">Name</label>
      </div>
  
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
        <label for="email">Email address</label>
      </div>
  
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="pass">
        <label for="password">Password</label>
      </div>
  
      <button type="submit" class="btn" [disabled]="userSingUp.invalid">Sign up</button>
      <button class="btn ms-3" (click)="reset()">Reset</button>

      <div class="my-2 loginLink">
          <p (click)="showLoginOrRegister()">Alredy have account? Click here to Login</p>
      </div>
  </form>

</div>

<div class="user_auth container" *ngIf="loginForm">
  <form [formGroup]="userLogin" (ngSubmit)="login(userLogin.value)">
      <h1 class="text-capitalise mt-5 mb-3 head">Login For Users</h1>
  
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
        <label for="email">Email address</label>
      </div>
  
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="pass">
        <label for="password">Password</label>
      </div>
  
      <button type="submit" class="btn" [disabled]="userLogin.invalid">Login</button>
      <button class="btn ms-3" (click)="reset()">Reset</button>

      <div class="my-2 loginLink">
          <p (click)="showLoginOrRegister()">Don't have account? Click here to register</p>
      </div>        
  </form>

</div> -->

