<br>
<div class="card border-0 text-black">
    <img src="/assets/product_list_background.jpg" alt="" class="card-img img-fluid opacity-25" >
    <div class="card-img-overlay text-center my-3 d-flex justify-content-center align-items-center">
        <div>
            <p id="product_list_text" class="card-title fs-1 fw-bolder">Registration</p>
        </div>
    </div>
</div>
        
<form class="row d-flex justify-content-center mt-5" [formGroup]="User_Register" (ngSubmit)="Save_User_Register()" >

    <div class="row g-2 justify-content-center">

        <div class="col-md-5">

            <label for="first_name" class="form-label">First Name</label>
            <input type="text" formControlName="first_name"  class="form-control" id="first_name" placeholder="Enter Name">

            <div *ngIf="get_User_Register.first_name.touched && get_User_Register.first_name.invalid" class="text-danger col-md-5 mt-1">
                <div *ngIf="get_User_Register.first_name.errors?.['required']" class="text-danger">Please Enter First Name</div>
            </div>

        </div>
    
        <div class="col-md-5">

            <label for="last_name" class="form-label">Last Name</label>
            <input type="text" formControlName="last_name"  class="form-control" id="last_name" placeholder="Enter Name">

            <div *ngIf="get_User_Register.last_name.touched && get_User_Register.last_name.invalid" class="text-danger col-md-5 mt-1">
                <div *ngIf="get_User_Register.last_name.errors?.['required']" class="text-danger">Please Enter Last Name</div>
            </div>
            
        </div>

    </div>
        
    <div class="row g-2 justify-content-center">

        <div class="col-md-5">

            <label for="contact" class="form-label">Primary Mobile Number</label>
            <input type="text" formControlName="primary_mobile_number" class="form-control" id="contact" placeholder="Please Enter Contact">

            <div *ngIf="get_User_Register.primary_mobile_number.touched && get_User_Register.primary_mobile_number.invalid" class="text-danger col-md-5 mt-1">
                <div *ngIf="get_User_Register.primary_mobile_number.errors?.['required']" class="text-danger">Please Enter Primary Mobile Number</div>
                <div *ngIf="get_User_Register.primary_mobile_number.errors?.['pattern']" class="text-danger">Please Enter Valid Primary Mobile Number</div>
            </div>

        </div>

        <div class="col-md-5">

          <label for="primary_email" class="form-label">Primary Email</label>
          <input type="email" formControlName="primary_email" class="form-control" id="primary_email" placeholder="Enter Email">

          <div *ngIf="get_User_Register.primary_email.touched && get_User_Register.primary_email.invalid" class="text-danger col-md-5 mt-1">
                <div *ngIf="get_User_Register.primary_email.errors?.['required']" class="text-danger">Please Enter Primary Mobile Number</div>
                <div *ngIf="get_User_Register.primary_email.errors?.['email']" class="text-danger">Please Enter Valid Primary Email</div>
          </div>

        </div>

    </div>
     
    <div class="row g-2 justify-content-center">

        <div class="col-md-5">

            <label for="username" class="form-label">Username</label>
            <input type="text" formControlName="username" class="form-control" id="username" placeholder="Please Enter username">

            <div *ngIf="get_User_Register.username.touched && get_User_Register.username.invalid" class="text-danger col-md-5 mt-1">
                <div *ngIf="get_User_Register.username.errors?.['required']" class="text-danger">Please Enter Username</div>
            </div>

        </div>
            
        <div class="col-md-5">

            <label for="password" class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Please Enter Password">

            <div *ngIf="get_User_Register.password.touched && get_User_Register.password.invalid" class="text-danger col-md-5 mt-1">
                <div *ngIf="get_User_Register.password.errors?.['required']" class="text-danger">Please Enter Password</div>
                <div *ngIf="get_User_Register.password.errors?.['minlength']" class="text-danger">Password length should be atleast 4 characters</div>
            </div>

        </div>

    </div>

    <div class="row d-flex justify-content-center mt-2">

        <div class="col-md-5 text-center">  
          <button type="submit" [disabled]="!User_Register.valid" class="btn btn-success col-md-5 mb-3">Save</button>
        </div>

    </div>
          
    <div class="row d-flex justify-content-center mt-2" *ngIf="!User_Register.valid && User_Register.touched">

        <div class="col-md-5 text-center">  
              <span class="text-danger">Please Enter all Details</span>
        </div>

    </div>

    

    <div class="row d-flex justify-content-center mt-2">

        <div class="col-md-5 text-center">  
            <span class="text-danger text-capitalize">{{errorMessage}}</span>
        </div>

    </div>

    
          
</form>